body{
	background-color : #282828;
}
.heading{
	color:white;
	background-color:#000000;
	text-align: center;
	font-size:40px;
}
table {font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
  color:white;
  margin-left: auto;
  margin-right: auto;}
@media screen and (max-width: 540px) {
  table {
      width: 100%;
  }
}
td, th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}
tr:nth-child(odd) {
  background-color:#000066;
}
tr:nth-child(even) {
  background-color:black;
}
#print-btn{
  background-color: black;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}
#print-btn:hover {
  background-color: white;
  color: black;
  border:1px black;
}
